
    .content {
      text-align: center;
      vertical-align: top;
    }

    .AddOutfitCard {
      display: inline-block;
      width: 300px;
      height: 200px;
      margin: 10px auto;
      overflow: auto;
      -moz-box-shadow: #555 0 0 8px;
      -webkit-box-shadow: #555 0 0 8px;
      -o-box-shadow: #555 0 0 8px;
      box-shadow: #555 0 0 8px;
    }

    .OutfitCard {
      display: inline-block;
      width: 300px;
      height: 200px;
      margin: 10px auto;
      overflow: auto;
      -moz-box-shadow: #555 0 0 8px;
      -webkit-box-shadow: #555 0 0 8px;
      -o-box-shadow: #555 0 0 8px;
      box-shadow: #555 0 0 8px;
    }


