


.cards:hover {
  background-color: #e49b34;
  opacity: 1;
}

.button {
  background-color: #f5ebd8;
}

.button:hover {
  background-color: #e49b34;
}

.test {
  background-color: #f5ebd8;
}

.test:hover {
  background-color: #e49b34;
}

.single-star-outline {
  height: 18px;
  width: 16px;
}

.single-star-fill {
  position: relative;
  display: inline-block;
  height: 18px;
  background-color: #000;
}

.single-star-container {
  height: 18px;
  width: 16px;
  display: inline-block;
}
