#star-button {
  background-color: transparent;
  border: none;
  outline: none;
}
.star-on {
  color: #000;
}
.star-off {
  color: #ccc;
}

.single-star-outline {
  background-color: transparent;
  border: none;
  outline: none;
  height: 20px;
  width: 31px;
  color: #ccc
}

.single-star-fill {
  position: relative;
  display: inline-block;
  height: 20px;
  background-color: #000;
}

.single-star-container {
  height: 20px;
  width: 31px;
  display: inline-block;
}