$red: #900505;
$orange: #e49b34;
$yellow: #ffe2b3;
$cream: #f5ebd8;

body, button, input {
  font-family: Verdana;
}

button {
  background-color: white;
  border-radius: 3px;
  border-width: 2px;
}

button:hover {
  background-color: $cream;
}

.header {
  background-color: $red;
  display: grid;
  grid-template-columns: 85vw 15vw;
  align-items: center;
  width: 100.5vw;
  height: 70px;
  margin: -10px;
}

.lightSwitch {
  position: absolute;
  right: 90px;
  top: 8px;
  justify-self: end;
}

.sun {
  color: white;
}

.moon {
  color: white;
}

.logo {
  max-height: 50px;
  margin-left: 2vw;
}

.cartCount {
  position: absolute;
  font-size: 10px;
  right: 7px;
  margin-top: 10px;
  width: 20px;
  text-align: center;
}

.cart {
  position: absolute;
  color: white;
  align-self: center;
  margin-top: 8px;
  justify-self: end;
  right: 20px;
}

.cart:hover {
  color: $orange;
}

.app {
  margin-top: 20px;
}