.widget {
  display: flex;
  justify-content: center;
}

.thumbnailContainer {
  height: 166px;
  width: 600px;
  white-space: nowrap;
  overflow-y: scroll;
}

.thumbnail {
  height: 150px;
  display: inline-block;
  margin: 3px;
  vertical-align: top;
  border: 3px solid transparent;
}

.panArrows {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  padding: 5px 10px 5px 10px;
  width: 50px;
  height: 150px;
  background-color: transparent;
  color: white;
  background-color: black;
  opacity: 80%;
  border-style: none;
  font-size: 50px;
  transform: scale(0.67, 1);
  top: 14px;
}

.panArrowsL {
  margin-left: -2px;
}

.panArrowsR {

}

.panArrows:hover {
  opacity: 100%;
}

.selected {
  border: 3px solid #900505;
  z-index: -1;
}

.carousel {
  width: 600px;
  display: flex;
  align-items: center;
}

.mainImg {
  width: 600px;
  display: flex;
}

.arrowL {
  margin-right: -50px;
}

.arrowR {
  margin-left: -65px;
}

.arrow, .zoomarrow {
  text-align: center;
  position: relative;
  padding: 5px 10px 5px 10px;
  width: 50px;
  background-color: transparent;
  color: white;
  opacity: 80%;
  border-style: none;
  font-size: 50px;
  transform: scale(1, 1.5);
}

.arrow:hover, .zoomarrow:hover {
  opacity: 100%;
}

.zoomView {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoomBorder {
  display: flex;
  align-items: right;
  justify-content: right;
}

.zoomImage {
  border: 20px solid white;
  max-width: 80vw;
  max-height: 80vh;
  align-self: center;
}

.zoomImage-false:hover {
  cursor: zoom-in;
}

.zoomImage-true:hover {
  cursor: zoom-out;
}

.placeholder {
  width: 50px;
  opacity: 0%;
  font-size: 50px;
  transform: scale(1, 1.5);
}

.closeZoom {
  position: absolute;
  margin-top: 20px;
  margin-right: 30px;
  font-size: 30px;
  color: white;
  opacity: 60%;
}

.closeZoom:hover {
  cursor: default;
  opacity: 100%;
}

.movingZoom {
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 0;
  border: 2px solid black;
  cursor: zoom-out;
  z-index: 3;
}

.productDetails {
  margin-left: 30px;
  width: 500px;
}

.category {
  margin-top: 10px;
  color: grey;
}

.productName {
  margin-top: 5px;
}

s {
  font-size: 15px;
  margin-left: 10px;
  color: #900505;
}

.share {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
}

.shareIcons {
  margin-right: 7px;
}

.styleSelector {
  margin-top: 30px;
}

.styleSelect {
  display: flex;
  width: 210px;
  flex-wrap: wrap;
}

.style {
  margin: 3px;
  background-color: black; // not sure what thumbnails/colors should go here
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
}

.color {
  color: grey;
  margin-top: -8px;
  margin-bottom: 5px;
}

.selectedStyle {
  border: 3px solid #900505;
}

.form {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 120px 150px;
  column-gap: 10px;
  row-gap: 10px;
}

.formItem {
  margin: 5px;
}

.single-star-outline {
  height: 18px;
  width: 16px;
}

.single-star-fill {
  position: relative;
  display: inline-block;
  height: 18px;
  background-color: #000;
  z-index: -1;
}

.single-star-container {
  height: 18px;
  width: 16px;
  display: inline-block;
}